<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Move & Light</title>
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

</head>
<body>


      <div class="wrapper">
            <div class="side left">
                  <div class="image sports"></div>
                  <div class="caption">  
                        <img class="imagee" src="/images/1Fabronew.png" alt="">
                        <img class="logo" src="/images/2Fabronew.png" alt="">
                        <a class="button1" href="https://sports.moveandlight.com/">Enter</a>
                  </div>
            </div>
            <div class="side right">
                  <div class="image management"></div>
                  <div class="caption">
                        <img class="imagee" src="/images/3Fabronew.png" alt="">
                        <img class="logo" src="/images/4Fabronew.png" alt="">
                        <a class="button2" href="https://management.moveandlight.com">Enter</a>
                  </div>
            </div>
      </div>
</body>
</html>