<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Move & Light</title>
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

</head>
<body>


      <div class="wrapper">

            <div class="side left">
                  <div class="image sports"></div>
                  <div class="caption">
                        
                        <img class="imagee" src="/images/logo1.png" alt="">
                        <h1>Move & Light</h1>
                        <h2>Sports</h2>

                        <a class="button" href="https://sports.moveandlight.com/">Enter</a>
                  </div>
            </div>

            <div class="side right">
                  <div class="image management"></div>
                  <div class="caption">
                        <img class="imagee" src="/images/logo1.png" alt="">

                        <h1>Move & Light</h1>
                        <h2>Management</h2>

                        <p></p>
                        <a class="button" href="https://management.moveandlight.com">Enter</a>
                  </div>
            </div>
      </div>
      
</body>
</html>